/* Slider Boxes Styles */

.slider-boxes {
    overflow: hidden;
    width: 104%;
    height: 400px;
    position: relative;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%)
}


/* Slider Styles */

.slider {
    width: 310%;
    height: 400px;
    overflow: hidden;
    transition: all .32s ease;
}


/* Slide Styles */

.slide {
    float: left;
    width: 33%;
    height: 400px;
    font-size: 40px;
    color: black;
    padding-top: 160px;
}

.green {
    background: #1abc9c;
    opacity: 0.8;
}

.green:hover {
    transform: translate(0%, -1%);
    opacity: 1;
    transition: .5s ease;
    background: #1abc9c;
}

.blue {
    background: #3498db;
    opacity: 0.8;
}

.blue:hover {
    transform: translate(0%, -1%);
    opacity: 1;
    transition: .5s ease;
    background: #3498db;
}

.grey {
    background: #34495e;
}

.red {
    background: #e74c3c;
    opacity: 0.8;
}

.red:hover {
    transform: translate(0%, -1%);
    opacity: 1;
    transition: .5s ease;
    background: #e74c3c;
}

.lightgrey {
    background: #95a5a6;
}


/* Navigator Button Styles */

.navigator {
    width: 350px;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 100px;
    overflow: hidden;
    padding-bottom: 10px;
}

.navigator ul {
    border: 2px solid #00bfff;
    border-radius: 100px;
}

.navigator li {
    float: left;
    color: black;
    border-radius: 100%;
    padding: 7px 12px;
    margin: 0 13px;
    cursor: pointer;
    /*box-shadow: 0 3px 17px rgba(0, 0, 0, .3);*/
    transition: all .32s ease;
    position: relative;
}

.navigator li:hover {
    transform: translateY(-2px);
}