<!DOCTYPE html>
<html>

<head>
    <title> LOGIN TO YOUR NINTENDO ACCOUNT </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>
    <script src="vue.js"></script>

    <div id="myDiv" class="animate-bottom">
        <h1>SWIELD</h1>
        <hr>
        <h2> <a href="home.html">HOME PAGE!</a> </h2>
        <h2> <a href="event.html">EVENT PAGE!</a> </h2>
        <h2> <a href="update.html">UPDATE PAGE!</a> </h2>
        <h2> <a href="achievement.html">ACHIEVEMENT PAGE!</a> </h2>
        <h2> <a href="login.html">LOGIN PAGE!</a> </h2>
    </div>

    <h3> THIS IS THE LOGIN PAGE!!! </h3>
    <!--Login Form-->
    <div id="login">
        <form id="app" onclick="checkForm()" method="post">
            <!--Checking Errors-->
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <!--Username Field-->
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" v-model="username" placeholder="Username" />
            </p>
            <!--Password Field-->
            <p>
                <label for="password">Password:</label>
                <input type="password" name="password" v-model="password" placeholder="Password" />
            </p>
            <!--Submit Button-->
            <input type="button" value="Submit">
        </form>
        <script src="login.js"></script>
    </div>


</body>

</html>