body {
    font-family: "Flexo-Regular", arial, sans-serif;
    background-image: url("image/background-3.jpg");
    background-size: 100%;
}


/* The sidebar menu */

.sidebar {
    height: 100%;
    width: 0;
    /* Stay in place */
    position: fixed;
    /* Stay on top */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
    width: 150px;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    float: left;
}

.openbtn:hover {
    background-color: #444;
}


/* Style page content  */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* Responsiveness on smaller screen */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}