.fixed_header {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    border: 2px solid white;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 400px;
}

.fixed_header thead tr {
    display: block;
}

.fixed_header thead {
    background: rgb(66, 209, 9);
    color: black;
}

.fixed_header td {
    background: rgb(129, 161, 12);
    height: 30px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: center;
    width: 200px;
}

@media screen and (max-width: 600px) {
    .fixed_header {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        margin: auto;
        border: 2px solid white;
    }
}